X_RAPIDAPI_KEY=
X_RAPIDAPI_HOST=
URL=
APIKEY=
GEMINI_API_KEY=
AI_PROVIDER=gemini
DB=
PORT=3000
MODEL_NAME=gemini-2.5-flash-preview-05-20
BUCKET_NAME=instagram-profile-image
ALLOWED_LANGUAGE=english,hinglish,hindi,اردو,spanish,bangla,korean
ALLOWED_ORIGIN=http://localhost:5173
TOKEN_SECRET=
